.question.container
	%h1.col-md-3 Question #8
	%h4.progress-title.col-md-9 Progress Bar
	.progress.col-md-9
		.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "80", "aria-valuenow" => "80", :role => "progressbar", :style => "width:80%"}
			80%

	%h3.col-md-12 Honest, charming, funny and handsome are qualities Paolo posesses. In fact, he is so handsome, he has been said he resembles this famous person..
	.answer.container
		.row
			%button.btn.btn-info.col-md-1.incorrect A
			%p.col-md-3 Vin Diesel
			%button.btn.btn-info.col-md-1.incorrect B
			%p.col-md-3 Derek Jeter
		.row
			%button.btn.btn-info.col-md-1.incorrect C
			%p.col-md-3 Dwyane "The Rock" Johnson
			%button.btn.btn-info.col-md-1.correct D
			%p.col-md-3 All the above

		= link_to( "next", questions_nine_path, :id => 'next')
