.question.container
	%h1.col-md-3 Question #9
	%h4.progress-title.col-md-9 Progress Bar
	.progress.col-md-9
		.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "90", "aria-valuenow" => "90", :role => "progressbar", :style => "width:90%"}
			90% (almost there!)
			
	%h3.col-md-12 When it comes to drinking, Paolo is considered a lightweight. How do you know he is starting to get a little tipsy? 
	.answer.container
		.row
			%button.btn.btn-info.col-md-1.incorrect A
			%p.col-md-3 He gets into fights
			%button.btn.btn-info.col-md-1.incorrect B
			%p.col-md-3 He gets quiet
		.row
			%button.btn.btn-info.col-md-1.incorrect C
			%p.col-md-3 You find him crying in the corner sucking his thumb
			%button.btn.btn-info.col-md-1.correct D
			%p.col-md-3 His teeth start getting numb

		= link_to( "next", questions_ten_path, :id => 'next')
