.question.container
	%h1.col-md-3 Question #6
	%h4.progress-title.col-md-9 Progress Bar
	.progress.col-md-9
		.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "60", "aria-valuenow" => "60", :role => "progressbar", :style => "width:60%"}
			60%

	%h3.col-md-12 What is Paolo's favorite characteristic/attribute about Lucy?
	.answer.container
		.row
			%button.btn.btn-info.col-md-1.incorrect A
			%p.col-md-3 She treats everyone equally, and is NEVER quick to judge.
			%button.btn.btn-info.col-md-1.incorrect B
			%p.col-md-3 The way her smile lights up the room
		.row
			%button.btn.btn-info.sweet-12.col-md-1.incorrect C
			%p.col-md-3 Her "Heart-Shaped" Face
			%button.btn.btn-info.col-md-1.correct D
			%p.col-md-3 All the above

		= link_to( "next", questions_seven_path, :id => 'next')
