.question.container
	%h1.col-md-3 Question #10
	%h4.progress-title.col-md-9 Progress Bar
	.progress.col-md-9
		.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "100", "aria-valuenow" => "100", :role => "progressbar", :style => "width:100%"}
			100% LAST QUESTION!


	%h3.col-md-12 Paolo has been practicing a song on the guitar for the past couple months. What song is that?
	.answer.container
		.row
			%button.btn.btn-info.col-md-1.incorrect A
			%p.col-md-4 "You Only Live Once" -The Strokes
			%button.btn.btn-info.col-md-1.correct B
			%p.col-md-4 "Read My Mind" -The Killers
		.row
			%button.btn.btn-info.col-md-1.incorrect C
			%p.col-md-4 "What About Now" -Lonestar
			%button.btn.btn-info.col-md-1.incorrect D
			%p.col-md-4 "My Last Name" -Dierks Bentley

		= link_to( "next", pages_prize_path, :id => 'next')
