%footer.container
	.row
		%h5.col-md-12.hidden-sm.hidden-md.hidden-lg Home | Relationship Help | Contact | In the News
		%h5.col-md-12.hidden-xs Home | About Us | Contact | Relationship Help | Suscribe | In the News
		%h5.col-md-12 © 2015 LLWYMM. All rights reserved. 
		%h5.col-md-12 Research-based approach building stronger relationships. 
