%footer.container
	%h5.col-md-12 Home | About Us | Contact | Relationship Help | Parenting | Suscribe | In the News
	%h5.col-md-12 © 2015 LLWYMM. All rights reserved. 
	%h5.col-md-12 A research-based approach to building stronger relationships. 
