.container
  %h2 This is a groovy test
  %p The .btn-primary class provides extra visual weight and identifies the primary action in a set of buttons:
  %button.btn.btn-primary{:type => "button"} Primary