.container.home
	%h1.col-md-12 Welcome!

	%p.col-md-12 World-wide leaders in couples research and therapy, Drs. John and Sarah Olson have found that one of the most important features of successful relationships is the quality of the friendship between partners, or how well they know one another.

	%p.col-md-12 So – think you know your partner’s inner world? Put your knowledge to the test by answering these 10 questions. If you get them all right, you'll be qualified for a chance to win our Grand Prize!

	.start.col-md-12
		= link_to( "Start the test", questions_one_path, :class => "col-md-12")
