.container.prize
	.row
		%h1.col-md-12 CONGRATULATIONS! 
	.row
		%h1.col-md-12 You got 100% correct! 
	.row
		%h2.col-md-12 Play video to redeem your prize...
	.row
		%video.col-md-12{:controls => "", :width => "600"}
			%source{:src => "../../assets/test.mp4", :type => "video/mp4"}
				Your browser does not support HTML5 video.