$blue: 			 #6b8188;
$light-blue: #46b8da;
$pink: 			 #FF06A2;
$pink-hover: #F265BD; 
body{
	font-family: 'Shadows Into Light Two', cursive;
	background-image: asset-data-url("symphony.png");
	p{
	  color: #000;
	  font-size: 1.5em;
	  margin: 0;
	}
	a{
		color:$pink;
		&:hover{
			color:$pink-hover;
		}
	}
}

/////////////// NAVIGATION ///////////////
.navbar{
	background:$blue;
	padding-top:1em;
	padding-bottom:1em;
	margin-bottom:0;
	border-radius:0;
	img{
		max-width: 100%;
		border:2px dashed #fff;
	}
	.navbar-brand{
		color:#fff;
	}
	a{
		font-size:1.5em;
  	text-align: center;
	}
	.extra-links{
		.link{
			border-right:2px solid $blue;
			background:#fff;
		}
	}
	#home{
	}
	.pull-right{
		margin-top:1em;
		a{
			font-size:1.3em;
		}
	}
}

/////////////// SWEET ALERT ///////////////
.sweet-alert .sa-icon.sa-custom{
	width:209px!important;
	height:275px!important;
	background-image:asset-data-url("drunk.png")!important;
}



/////////////// CONTAINER ///////////////
.question, .home{
	border:2px solid $blue;
	background:#fff;
	.container{
		height: 400px;
	}
	h1{
		font-size: 3.7em;
	}
	.start{
		margin:1em -15px;
		font-size: 1.8em;
		text-decoration: underline;
		padding-left:0;
		text-align: center;
	}
	.progress-title{
		text-align: center;
	}
	.progress{
		padding:0;
		.progress-bar{
			background:$pink;
		}
	}
	h3{
		line-height: 2em;
	}
	.answer{
		margin: 2em 0;
		.row{
			margin:1em 0;
		} 
	}
	#next{
		display: none;
	}
}


.home{
	h1{
		text-align: center;
	} 
	p{
		margin:1em 0; 
	}
}
.prize{
	border:2px solid $blue;
	background:#fff;
	h1{
		font-size: 2.4em;
		text-align: center;
	} 
	h2, h3{
		text-align: center;
	}
}

/////////////// FOOTER ///////////////
footer{
	background:$blue;
	position:relative;
	clear:both;
	padding-top:1em;
	h5{
		cursor:pointer;
		width:100%;
		color:#fff;
		font-size: 13px;
		margin:.5em 0 1em 0;
		text-align: center;
	}
}




////////// MEDIA QUERIES ///////////
@media screen and (max-width: 991px) {
	.question{
		h1{text-align:center;}
	}
}
@media screen and (min-width: 850px) {
	.prize{
		h1{
			font-size: 5em;
		}
		h2{
			font-size: 4em;
		}
		h3{
			font-size: 2em;
		}
	}
}