$blue: 			 #6b8188;
$light-blue: #46b8da;
$pink: 			 #FF06A2;
$pink-hover: #F265BD; 
body{
	font-family: 'Shadows Into Light Two', cursive;
	background-image:image-url("symphony.png");
	p{
	  color: #000;
	  font-size: 1.5em;
	  margin: 0;
	}
	a{
		color:$pink;
		&:hover{
			color:$pink-hover;
		}
	}
}

/////////////// NAVIGATION ///////////////
.nav{
	background:$blue;
	padding-top:2em;
	padding-bottom:2em;
	img{
		width:321px;
		max-width: 100%;
		border:2px dashed #fff;
	}
	a{
		font-size:1.5em;
  	text-align: center;
	}
	.extra-links{
		.link{
			border-top:2px dashed $blue;
			border-bottom:2px dashed $blue;
			border-right:2px dashed $blue;
			background:#fff;
		}
	}
	#home{
	}
	.pull-right{
		margin-top:1em;
		a{
			font-size:1.3em;
		}
	}
}


/////////////// SWEET ALERT ///////////////
.sweet-alert .sa-icon.sa-custom{
	width:209px!important;
	height:275px!important;
}



/////////////// CONTAINER ///////////////
.question, .home, .prize{
	border:2px dashed $blue;
	background:#fff;
	.container{
		height: 400px;
	}
	h1{
		font-size: 3.7em;
	}
	.start{
		margin:1em -15px;
		a{
			font-size: 1.8em;
			text-decoration: underline;
			padding-left:0;
			text-align: center;
		}
	}
	.progress-title{
		text-align: center;
	}
	.progress{
		padding:0;
		.progress-bar{
			background:$pink;
		}
	}
	h3{
		line-height: 2em;
	}
	.answer{
		margin: 2em 0;
		.row{
			margin:1em 0;
		} 
	}
	#next{
		display: none;
	}
}


.home p{
	margin:1em 0; 
}
.prize{
	h1, h2{
		text-align: center;
	}
}

/////////////// FOOTER ///////////////
footer{
	background:$blue;
	position:relative;
	height:100px;
	clear:both;
	padding-top:1em;
	h5{
		cursor:pointer;
		width:100%;
		color:#fff;
		margin:.3em 0;
		text-align: center;
	}
}